#Fichier de proprietes du domaine mis a jour avec le SAJ v4.5.1
#Thu Nov 23 04:58:54 CET 2017
apache.version=2.2.29
java.version=1.8.0_181-amd64
redemarrage.nb_max=3
sa.version=eap6.4.17
saj.apache.version=4.5.1
redemarrage.actif=true
saj.vmsa.version=4.5.1
entite.fonctionnelle=TAT1
redemarrage.delai=2
sa=jboss
saj.version=4.5.1

