#Liste des ports utilises par JBoss
#Mon Apr 29 14:41:31 CEST 2013
sa.port.jacorb.ssl=21829
sa.port.messaging.throughput=21858
sa.agora.saj.lib.url=saj/lib
sa.port.txn-status-manager=21813
sa.port.jgroups-tcp-fd=21825
sa.port.https=21881
sa.port.jgroups-udp=21821
sa.management.native.port=21899
sa.port.messaging.group=21859
sa.port.jgroups-tcp=21826
sa.port.ajp=21809
sa.jgroups-udp.mcast_port=21822
sa.port.jacorb=21828
sa.port.http=21880
sa.management.https.port=21891
sa.management.http.port=21890
sa.port.txn-recovery-environment=21812
sa.port.remoting=21846
sa.jgroups-mping.mcast_port=21823
sa.port.jgroups-udp-fd=21820
sa.port.messaging=21857
sa.agora.lib.url=agora/lib
# SAJ : Ajout adresse multicast
#jboss.multicast.adresse=237.227.10.17
# Multicast pour infinispan dans z59mom*.ear
#jgroups.udp.mcast_addr=237.227.10.17
# SAJ : Ajout adresse multicast
sa.multicast.adresse=237.227.19.18
# Multicast pour infinispan dans z59mom*.ear
jgroups.udp.mcast_addr=237.227.19.18
